{% extends "editapp/base.html" %}
{% block title %}Edit a domain{% endblock %}
{% load staticfiles %}

{% block content %}
<h1>Edit a domain record</h1>
<blockquote>
    <table>
       <form action="{% url 'editapp:record' domain recno %}" method="post">
	  {% csrf_token %}
	  {{ form }}
	  <tr><td colspan=2 align="right">
	     <input type="submit" name="delete" value="Delete" />
	     <input type="submit" name="submit" value="Submit" /></td>
	  </tr>
    </table>
    </form>
</blockquote>

{% endblock %}
